.bar {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.bar_launcher {
    background: $Button0;
    font-size: 24px;
}

.bar_win_launcher {
    background: $Button0;
    font-size: 24px;
}

.bar_workspace_button {
    background: $Button0;
}

.bar_workspace_indicator {
    background: $Overlay2;
    border-radius: 10px;
    min-width: 10px;
    min-height: 10px;
}

.bar_workspace_indicator_active {
    background: $Button1;
    min-width: 40px;
}